

.container-fluid {
  background-color: #fff;
  margin-top: 1em;
}

#sc {
  max-width: 900px;
  min-height: 600px;
  margin: auto;
  border-style: dashed;
  border-width: 2px;
  border-color: #808080;
}

.glyphicon {
  font-size: 40px;
}
.well {
  border-width: 1px;
  border-style: dashed;
  border-color: #808080;
  max-width: 750px;
  margin:auto;
  margin-bottom: 60px;
  display: none;
  box-shadow: 10px 10px 30px #808080;
  position: relative;
}

.row {
  margin:auto;
  padding: 15px;
  font-size: 11px;
}
.col-sm-3 {
  max-width: 175px;
  margin:auto;

}
.head {
  max-width: 750px;
  margin:auto;
  margin-bottom: 40px;
}

.inst {
  display: inline-block;
}

.wip {
  display: inline-block;
  float: right;
}

#htmlTitle {
  font-style: italic;
  font-size: 15px;
  font-weight: bold;
}

#username {
  margin-top: 5px;

}



#art {
  display: inline-block;
  position: absolute;
  top: 10px;
  margin-bottom: 10px;
  width: 100px;

}
#result {
  display: inline-block;
  line-height: 2.5px;
  margin-left: 10px;
  position: relative;
  top: 10px;
}

.info {
  display: inline-block;
  line-height: 2.5px;
  position: relative;
  margin-left: 110px;
}

#stop, #play {
  margin-top: 10px;
  width: 100px;
  font-size: 20px;
  border-radius: 2px;
  display: none;
}

#stop {
  position: absolute;
  left: 30px;
  top: 52px;
  /* margin-left: 5px; */
}



#searchInst {
  font-style: italic;
  font-size: 11px;
}
